<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Cart</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-/TnPJvWJ0cpTXpI1Y9lb7NvHcW6U8gZwzG6N7vHJ/5bL8Jkf/9X9Qh3q5aWxMxZFWiC5n5mLp5ujW6F8yDDxDw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />



</head>

<body>



    <style>
        body {
            background-color: black;

        }

        #tr {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        }

        #title {
            color: yellow;
            font-family: 'Times New Roman', Times, serif;
            
        }

        #container {
            padding: 5%;
        }
        #bookStoreButton {
         border-radius: 12%
         ;
        }
        
    </style>

    <div class="text-center accordion-collapse">




        <h1 id="title">Cart</h1>
        <button id="bookStoreButton" class="text-bg-secondary" type="button" onclick="location.href='/book/bookStore'"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="16" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
            <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
          </svg> Book Store</button>


    </div>

    <div id="container" class="d-grid text-center accordion-item">
        <table>
            <thead>
                <tr id="tr" class="bg-danger text-black">


                    <th>COVER</th>


                    <th>PRICE</th>


                    <th>TITLE</th>


                    <th>ACTIONS</th>



                </tr>


            </thead>
            <tbody>


                <tr class="text-white" th:each="book : ${bookID}">

                    <td> <a th:href="${book.img}"><img th:src="${book.img}" width="90" height="120"></a></td>
                    <td th:text="${book.price}"></td>
                    <td th:text="${book.title}"></td>


                    <td>


                        <select class="form-select text-bg-info " onchange="location=this.value">
                            <option value="">Select</option>
                            <option th:value="@{/client/signInPage}">Complete your purchase</option>
                            <option th:value="@{/cart/deleteBookCart/{id}(id=${book.id})}">Remove item from Cart
                            </option>

                        </select>


                    </td>
                </tr>

            </tbody>

        </table>
    </div>



</body>

</html>